# Intro to Lists

Organize your data so you can work with it efficiently.

## Introduction

In [1]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

print(type(flowers))
print(flowers)

<class 'str'>
pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle

flowers adalah sebuah variabel yang berisi daftar nama bunga. Jenis data dari variabel ini adalah string. Berikut adalah daftar bunga yang terdapat dalam variabel flowers:
* Pink Primrose
* Hard-Leaved Pocket Orchid
* Canterbury Bells
* Sweet Pea
* English Marigold
* Tiger Lily
* Moon Orchid
* Bird of Paradise
* Monkshood
* Globe Thistle

In [2]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

flowers_list adalah sebuah variabel yang berisi daftar nama bunga. Jenis data dari variabel ini adalah list. Berikut adalah daftar bunga yang terdapat dalam variabel flowers_list:
* Pink Primrose
* Hard-Leaved Pocket Orchid
* Canterbury Bells
* Sweet Pea
* English Marigold
* Tiger Lily
* Moon Orchid
* Bird of Paradise
* Monkshood
* Globe Thistle

## Lists

### Length

In [3]:
# The list has ten entries
print(len(flowers_list))

10

List ini memiliki sepuluh entri.

### Indexing

In [4]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9
print("Last entry:", flowers_list[9])

First entry: pink primrose
Second entry: hard-leaved pocket orchid
Last entry: globe thistle

Pertama, bunga dalam list ini adalah “Pink Primrose”. Kedua, kita memiliki “Hard-Leaved Pocket Orchid”. Dan terakhir, bunga yang ke-10 adalah “Globe Thistle”.

### Slicing

In [7]:
print("First three entries:", flowers_list[:3]) # mengambil data dengan indeks 0, 1, dan 2
print("Final two entries:", flowers_list[-2:])

First three entries: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Final two entries: ['monkshood', 'globe thistle']

Tiga bunga pertama dalam daftar ini adalah:
1. “Pink Primrose”
2. “Hard-Leaved Pocket Orchid”
3. “Canterbury Bells”

Sementara itu, dua bunga terakhir dalam daftar ini adalah:
1. “Monkshood”
2. “Globe Thistle”

### Removing items

In [8]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

Daftar bunga telah diperbarui. “Globe Thistle” telah dihapus dari daftar. Berikut adalah daftar bunga yang diperbarui:
1. “Pink Primrose”
2. “Hard-Leaved Pocket Orchid”
3. “Canterbury Bells”
4. “Sweet Pea”
5. “English Marigold”
6. “Tiger Lily”
7. “Moon Orchid”
8. “Bird of Paradise”
9. “Monkshood”

### Adding items

In [9]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

Daftar bunga telah diperbarui. “Snapdragon” telah ditambahkan ke dalam daftar. Berikut adalah daftar bunga yang diperbarui:
1. “Pink Primrose”
2. “Hard-Leaved Pocket Orchid”
3. “Canterbury Bells”
4. “Sweet Pea”
5. “English Marigold”
6. “Tiger Lily”
7. “Moon Orchid”
8. “Bird of Paradise”
9. “Monkshood”
10. “Snapdragon”

### Lists are not just for strings

In [10]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

Diberikan suatu data penjualan sampul buku pada minggu pertama Bulan April, 2000 dari sebuah toko retail.

In [11]:
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

Length of the list: 7
Entry at index 2: 172

Panjang dari daftar ini adalah 7. Buku yang terjual pada indeks ke-2 sebanyak 172 eksemplar.

In [12]:
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

Minimum: 128
Maximum: 191

Minimum: 128 eksemplar. Maximum: 191 eksemplar.

In [13]:
print("Total books sold in one week:", sum(hardcover_sales))

Total books sold in one week: 1107

Total buku yang terjual dalam satu minggu adalah 1,147 eksemplar.

In [14]:
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

Average books sold in first five days: 153.8